<p>Publisher:{{quote.publisher}}|{{quote.completeDate|date|uppercase}} |posted
  {{quote.completeDate|dateCount}} days ago</p>
  

  <div class="footer">
    
    <div class="vote">
      <div class="vote-btn-like hover" (click)="likeButtonClick()"></div>
      <h5>{{ numberOfLikes }}</h5>
      <div
        class="vote-btn-dislike hover"
        id="one"
        (click)="dislikeButtonClick()"
      ></div>
      <h5>{{ numberOfDislikes }}</h5>
    </div>
    <button (click)= 'quoteDelete(true)'class="btn btn-outline-danger">Delete Quote</button>
  </div>