<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Quotes Inc</a>
  <img src="~src/assets/logo.png"> 
  <p>info@quotesinc.co.ke</p>
  <p>0736243624</p>
  </nav>
<div class='jumbotron'>
    <h1>My Quotes</h1>
    <h1><span class="badge badge-secondary">Collection</span></h1>
    
    <hr>

    <div class='row'>
      <div class='col-md-4'>
        
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
      

      <div class='cards col-md-8'>
        <div class ="card"*ngFor='let quote of quotes;let i = index'>
          <div class ="card-header">
            <h4 class="text-center title" id ="title">{{quote.title}} </h4>
            
            
            </div>

            
            <p id="body"  appHighlight > {{quote.body}}</p>
            
            <h4 id="author"> -{{quote.author}}</h4>
            
            
            
          <app-quote-detail *ngIf='quote.showCompleteDate'[quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
             
            

            <app-quote-details [quote]='quote'></app-quote-details>
        </div>
        
      </div>
      </div>
</div>
<div class="card-footer">
  <p>These are a collection of quotes from Quotes inc.</p>
  <a href="https://www.facebook.com/currentrms" target="_blank">
    <img src="https://raw.githubusercontent.com/rohitink/sociocons/master/Sociocons/facebook-sociocon.png" style="max-height: 32px;" alt="Facebook">
  </a>
  <a href="https://twitter.com/currentrms" target="_blank">
    <img src="https://raw.githubusercontent.com/rohitink/sociocons/master/Sociocons/twitter-sociocon.png" style="max-height: 32px;" alt="Twitter">
  </a>
</div>