<div class='jumbotron'>
    <h1>My Quotes</h1>
    <hr>

    <div class='row'>
      <div class='col-md-4'>
        
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
      

      <div class='cards col-md-8'>
        <div class ="card"*ngFor='let quote of quotes;let i = index'>
          <div class ="card-header">
            <h4 class="text-center title" id ="title">{{quote.title}} </h4>
            
            
            </div>

            
            <p id="body"  appHighlight > {{quote.body}}</p>
            
            <h4 id="author"> -{{quote.author}}</h4>
            
            
            
              <app-quote-detail *ngIf='quote.showCompleteDate'[quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
             
            

            <app-quote-details [quote]='quote'></app-quote-details>
        </div>
        
      </div>