<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Title</label>
            <input type="text" required class="form-control" id="title">
  
        </div>
        <div class="form-group">
  
            <label for="name">Body</label>
            
            <textarea class="form-control" id="body" rows="4" required></textarea>
        </div>
   <div class="form-group">
       
            <label for="description">Author</label>
            <input type="text" required class="form-control" id="author">
  
        </div>
        <div class="form-group">
       
            <label for="description">Publisher</label>
            <input type="text" required class="form-control" id="publisher">
  
        </div>
        <div class="form-group">
            <label for="complete">Publication Date</label>
            <input type='date' id="complete" required>
  
        </div>
    </form>
  </div>